<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2" >
      <legend>New Task</legend>
      	 <%= render 'form' %>
    </div>
    <div class="span10" >
      <legend>Task List</legend>
      	  <%= render 'index' %>
    </div>
  </div>
</div>
	  


 
      	 
    